# Dependencies are mirrored in pyproject.toml
pywin32 >= 312 # "[The `~=` operator] MUST NOT be used with a single segment version number such as `~=1`." Source: https://packaging.python.org/en/latest/specifications/version-specifiers/#compatible-release
pillow ~= 12.3.0
